<!-- Modal -->
<div id="<%= id %>Modal" class="modal hide fade" style="<%= style %>" tabindex="-1" role="dialog" aria-labelledby="<%= id %>ModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="<%= id %>ModalLabel"><%= title %></h3>
  </div>
  <div id="<%= id %>ModalBody" class="modal-body">
    <%= body %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary" onclick=<%= saveAction %>>Save</button>-->
  </div>
</div>