<div id="detailDialog" class="modal hide fade" data-backdrop="static">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <h3><%= name %></h3>
    </div>
    <div id="detailDialogBody" class="modal-body">
            <form id="<%= name %>">
                <table>
                    <% for(var attribute in schema) { %>
                        <tr>
                            <td width="100px" style=""><%= attribute %></td>
                            <td><input type="text" id="<%= attribute %>InputField"  class="span5" name="<%= attribute %>" value="<%= data[attribute] ? data[attribute] : schema[attribute].default %>"></input></td>
                        </tr>
                    <% } %>
                </table>
                <input type="hidden" id="_idFieldId" name="_id" value="<%= data['_id'] %>" ></input>
            </form>
    </div>
    <div class="modal-footer">
        <a id="saveButton" class="btn"><i class="icon-ok"></i>Save</a>
        <a id="resetButton" class="btn" data-dismiss="modal"><i class="icon-remove"></i>Cancel</a>
    </div>
</div>

