<!--
<div class="input-append">
    <select id="searchType" class="span2">
        <option> </option>
        <% for(var attribute in schema) { %>
          <option><%= attribute %></option>
        <% } %>
    </select>
    <input class="span4" id="searchField" type="text">
    <button id="searchButton" class="btn" type="button">Search</button>
</div>
-->

<table class="table table-striped table-bordered">

    <!-- table headers -->
    <tr>
        <% for(var header in schema) { %>
          <th><%= header %></th>
        <% } %>
        <th></th>
    </tr>
    
    <!-- table row and data -->
    <%  for(var i = 0; i < data.length; i++) { %>
        <tr>
            <% for(var k in schema){ %> 
                <td><%=  data[i][k] %></td>
            <% } %>
                <td colspan="2" style="text-align: center !important;">
                    <a href="#" recordId="<%= data[i]._id %>"  class="btn editButton btn-link" ><i class="icon-pencil" recordId="<%= data[i]._id %>"></i></a>
                    <a href="#" recordId="<%= data[i]._id %>"  class="btn deleteButton btn-link"><i class="icon-remove" recordId="<%= data[i]._id %>"></i></a>
                </td>
        </tr>                
    <% } %>
</table>
