<select id="searchType">
    <% for(var attribute in schema) { %>
      <option><%= attribute %></option>
    <% } %>
</select>
<input id="searchField" class="span8" type="text" placeholder="search...">