<!-- breadcrumbs / folderpath -->
<ul id="breadcrumb" class="breadcrumb">
    <% for(var i=0; i< fsUi.breadcrumbs.length; i++) {%>
        <li>
            <a href="#" class="folder" onClick="javascript:fsUi.openFolder('<%= fsUi.breadcrumbs[i].path %>',true)">
                <%= fsUi.breadcrumbs[i].name %>
            </a>
            <span class="divider">/</span>
        </li> 
    <% } %>
</ul>

<!-- toolbar -->
<!--
<div class="btn-toolbar">
  <div class="btn-group">
      <button class="btn" onclick="fsUi.dialogs.newFolderDialog.open()"><span><i class="icon-folder-close"></i> New folder</span></button>
      <button class="btn"><span><i class="icon-file"></i> New file</span></button>
      <button class="btn"><span><i class="icon-circle-arrow-up"></i> Upload file</span></button>  
      <button class="btn"><span><i class="icon-remove"></i> Delete</span></button>  
  </div>
</div>
-->
<!-- folder / files table -->
<div class="">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th><!--<span class="pull-right">Actions</span>--></th>
        </tr>
        <% for(var i=0; i < folder.length; i++) {%>
            <tr>
                <td>
                    <!--<input type="checkbox"></input>&nbsp;&nbsp;-->
                    <a href="#" class="folder" onClick="javascript:fsUi.openFolder('<%= folder[i] %>',false)"><%= folder[i] %></a>
                </td>
                <td class="">
                <!--
                    <a href="#" onclick="fsUi.dialogs.renameDialog.open('<%= folder[i] %>')" data-toggle="modal"><i class="icon-pencil pull-right"></i></a>
                    <a href="#" onclick="fsUi.dialogs.viewFileDialog.open('<%= folder[i] %>')" data-toggle="modal"><i class="icon-edit pull-right"></i></a>
                    <a href="#renameDialogModal" data-toggle="modal"><i class="icon-download-alt pull-right"></i></a>
                -->
                </td>
            </tr>
        <% } %>
    </table>
</div>
