<script>

    /**
     * FileSystem UI
     */ 
    var fsUi = {

        currentDir: '',
        breadcrumbs: [],
        
        /**
         *  initialize the fs browser
         */ 
        init: function(path, renderTarget){
            // add a container for the folder table
            $('<div>', {
                id: 'folder',
                class: 'well'
            }).appendTo(renderTarget);
            
            // load the dialogs
            this.loadDialogs(renderTarget, [
                this.dialogs.newFolderDialog,
                this.dialogs.renameDialog,
                this.dialogs.viewFileDialog
            ]);
            
            // open the given path
            this.openFolder(path, false);
        },

        /**
         * load the given dialogs into the predefined divs
         */ 
        loadDialogs: function(renderTarget, dialogs){
            for(var i = 0; i < dialogs.length; i++){
                $('<div>', {
                    id: dialogs[i].id
                }).appendTo(renderTarget);
                new EJS({
                    url : 'pages/util/modal.ejs?dt=' + new Date().getTime()
                }).update(dialogs[i].id, dialogs[i]);
            }
        },

        /**
         *  opens a folder, read from server and update breadcrumbs
         */ 
        openFolder: function(dir, isCrumb) {

            var openDir = dir;
            var parentDir = '';
            var that = this;
            // update breadcrumbs
            if (isCrumb) {
                this.currentDir = dir;
                for ( var i = 0; i < this.breadcrumbs.length; i++) {
                    if (this.breadcrumbs[i].path == openDir) {
                        this.breadcrumbs.splice(i + 1, this.breadcrumbs.length - 1);
                    }
                }
            } else {
                parentDir = this.currentDir;
                openDir = this.currentDir + "/" + dir;
                this.parentDir = this.currentDir;
                this.currentDir = openDir;
                this.breadcrumbs.push({
                    name : dir,
                    path : this.currentDir
                });
            }
            
            // read the directory from the server and update the folder table template
            this.listDirectory(openDir, function(data) {
                var tplData = $.parseJSON(data);
                tplData.breadcrumbs = this.breadcrumbs;
                if (tplData.isFile) {
                    that.currentDir = that.parentDir;
                    fsUi.dialogs.viewFileDialog.open(openDir);
                } else {
                    new EJS({
                        url : 'pages/fs/folder.ejs?dt=' + new Date().getTime()
                    }).update('folder', tplData);
                }
                return false;
            });
        },

        getFile: function(filePath, callback){
            $.ajax({
                url : filePath,
                type : 'get',
                success : function(data) {
                    if (typeof callback === 'function') {
                        callback(data);
                    }
                    return false;
                }
            });
        },

        /**
         * read the the directory from the server and execute callback on success
         */ 
        listDirectory: function(dir, callback) {
            $.ajax({
                url : '/listFolder',
                type : 'get',
                data : {
                    path : dir
                },
                success : function(data) {
                    if (typeof callback === 'function') {
                        callback(data);
                    }
                    return false;
                }
            });
        },
        
        /**
         * dialogs for folder actions
         */ 
        dialogs : {
            renameDialog : {
                id : 'renameDialog',
                title: 'Rename',
                style: '',
                body: '<input id="folderName" type="text" class="span4" placeholder="new name" />',
                saveAction: 'javascript:alert("hoi")',
                open: function(folder){
                    $('#folderName').val(folder);
                    $('#renameDialogModal').modal('show');
                }
            },
            newFolderDialog: {
                id : 'newFolderDialog',
                title: 'New folder',
                style: '',
                body: '<input id="newFolderName" type="text" class="span4" placeholder="folder name" />',
                saveAction: 'javascript:alert("asdw")',
                open: function(){
                    $('#newFolderName').val("");
                    $('#newFolderDialogModal').modal('show');
                }
            },
            viewFileDialog: {
                id : 'viewFileDialog',
                title: 'File',
                style: 'width: 800px',
                body: '<div id="fileContentDiv"></div>',
                saveAction: '',
                open: function(filePath){
                    fsUi.getFile(filePath, function(data){
                        
                        // encode html
                        var regLt = new RegExp("<","g");
                        var regGt = new RegExp(">","g");
                        data = data.replace(regLt, "&lt;");
                        data = data.replace(regGt, "&gt;");
                        
                        // set title
                        $('#viewFileDialogModalLabel').html(filePath.substring(filePath.lastIndexOf("/"),filePath.length));
                        
                        // load template with file content
                        new EJS({
                            url : 'pages/fs/file.ejs?dt=' + new Date().getTime()
                        }).update('fileContentDiv', {fileContent : data});                    
                        $('#viewFileDialogModal').modal('show');    
                    });
                    
                }
            },
            
        }

    };

    // initialize
    (function() {
        fsUi.init(
            '.', // folder to open, relative to content directory
            '#content' // render target
        );

	})();

</script>


