<div id="breadcrumb">
<% for(var i=0; i<breadcrumbs.length; i++) {%>
	<a href="#" class="folder" onClick="javascript:openFolder('<%= breadcrumbs[i].path %>',true)"><%= breadcrumbs[i].name %></a><span> / </span> 
<% } %>
</div>
<hr/>
<ul id="subfolders">
<% for(var i=0; i<folder.length; i++) {%>
	<li>
	<a href="#" class="folder" onClick="javascript:openFolder('<%= folder[i] %>',false)"><%= folder[i] %></a>
	</li>
<% } %>
</ul>