/* FileSystem browser style */
#folder>div,#folder>ul {
    text-align: left;
}

#folder>ul {
	list-style: none;
	padding-left: 0px;
}

folder {
	width: 500px;
	text-align: left;
}

/* headers */
#content>h1 {
    padding-top: 25px;
	font-size: 22pt;
}