table {
    vertical-align: center !important;    
}

div.schemaPanel{
    float: left;    
}

div.formPanel {
    /*margin-top:20px;*/
    /*width:20%;*/
    margin-left: 20px;
    float: left;
}            

div.dataTable {
   /*margin-top:20px;*/
   /*width: 80%;*/
   margin-left: 50px;
   float: left;
}  