<script>
$(document).ready(function(){
    //$('#infoContent').scrollspy();    
});
</script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div id="navLeft" class="well sidebar-nav affix">
            <ul class="nav nav-list">
                <li class="nav-header"><a href="#about" class="onPageNav">About</a></li>
                <li><a href="#features" class="onPageNav">Features</a></li>
                <li><a href="#dependencies" class="onPageNav">Dependencies</a></li>
                <li class="nav-header" class=""><a href="#download" class="onPageNav">Download</a></li>
                <li><a href="#repository" class="onPageNav">Repository</a></li>
                <li class="nav-header"><a href="#guide" class="onPageNav">Guide</a></li>
                <li><a href="#install" class="onPageNav">Install</a></li>
                <li><a href="#run" class="onPageNav">Run</a></li>
                <li><a href="#howto" class="onPageNav">How to...</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
    
    <div class="span9">
    
        <!-- about -->
        <div id="about">
            <h1>About</h1>
            Another webserver for nodejs?<br/>
            Yep, but with some nice simplified stuff. <br/>
            <br/>
            It is a slim web server implementation / framework for nodejs.<br/>
            It can serve files or services, depending on you what you want to provide.<br/>
            Just put your services in the /service folder, your page in the /content folder and you're ready to go!<br/>
            Everything will be loaded automatically, you don't have to care about embedding your services into your app,<br/>
            Slimple will do that for you.<br/>
        </div>
        <div id="features">
            <h2>Features</h2>
           The key features of the webserver: <br/>
            <div class="well">
                <ul>
                    <li>lightweight webserver implementation</li>
                    <li>provide a application context where you can access server functionalities or add your own methods/classes</li>
                    <li>simple request / response handler API</li>
                    <li>serving static files</li>
                    <li>simple session handling</li>
                    <li>write and run your own services</li>
                    <li>build simple REST services on top of the basic request/response handlers</li>
                    <li>automated service, event listener and mongo db shemas loading on startup</li>
                    <li>request routing</li>
                    <li>easily extendable with other node modules</li>
                    <li>mongoDB abstraction, it's possible to access the db shemas directly though the context</li>
                    <li>logging with console and file appenders and log level (work in progress)</li>
                </ul>
            </div>
        </div>
        <div id="dependencies">
            <h2>Dependencies</h2>
            mime: 1.2.7<br/>
            mongoose: 3.5.8
        </div>
        
        <!-- download -->
        <div id="download">
            <h1>Download</h1>
            You can download the source at Bitbucket:<a href="https://bitbucket.org/MentalExtract/slimple" target="_blank">https://bitbucket.org/MentalExtract/slimple</a><br>
            If you just want to have a look at the source, check this out:  <a href="https://c9.io/mentalextract/slimple" target="_blank">https://c9.io/mentalextract/slimple</a><br/>
        </div>
        <div id="repository">
            <h2>Repository</h2>
            If you want to contribute, fork or just download the source, visit us at bitbucket:<br/>
            <a href="https://bitbucket.org/MentalExtract/slimple" target="_blank">https://bitbucket.org/MentalExtract/slimple</a>
        </div>
        
        <!-- guide -->
        <div id="guide"><h1>Guide</h1></div>
        <div id="install">
            <h2>Install</h2>
            Just ...
            <div class="well">npm install slimple</div>
            This will give you the node_module/slimple folder.<br/>
            You can copy the skeleton folder from there to use for your project.<br/>
            Have a look at the config folder, you can specify the location of your content, services, events and db schemas.<br/>
            If you want to use Mongoose, you have to add the dependency to your package.json file:<br/>
            "mongoose": "3.5.8"<br/>
            Furthermore, set appConfig.db.active to true (config/db.js)<br/>
        </div>
        <div id="run"><h2>Run</h2>
            Navigate to the root of your project and run the app with:
            <div class="well">node app</div>
            The app should now be started on the defined port.
            <div class="well">2013-04-15T09:38:25.988Z [INFO] Server started on port 8080</div>
         </div>
        <div id="howto">
            <h2>How to...</h2>
            To see how to work with Slimple, please take a look at the examples in the skeleton app for:
            <ul>
                <li>services</li>
                <li>events</li>
                <li>schemas</li>
            </ul>
            <h3>Example App</h3>
            A Slimple application is defined by the context, which contains the automatically loaded services, events and schemas.<br/>
            It is possible to mix in your own functionalities by defining a custom context in your application and pass it to the buildContext method<br/>
            The context consists of following parts, the usage is described in the API documentation (coming soon):<br/>
            <div class="well">
                <ul>
                    <li>ctx.config : the app configuration</li>
                    <li>ctx.log : the logger</li>
                    <li>ctx.web : request and response handlers</li>
                    <li>ctx.event : EventEmitter to emit global server events</li>
                    <li>ctx.db : mongoDB helper for performing DB operations</li>
                    <li>ctx.services : auto loaded services</li>
                    <li>ctx.schemas : db schemas for use in combination with ctx.db</li>
                    <li>http.session : holds the current session</li>
                </ul>
            </div>
            It is important to build the context first, and then pass the context to the start method of the server.<br/>
            Your slimple application has to be in a structure like this example.<br/>
            <pre class="prettyprint">
            
    var config = require('./config/app.js');
    var slimple = require("slimple"); 
    
    var app = {
    
        /**
         * initialize a custom app context
         */ 
        context : {
            doStuff : function(text){
                this.log.trace(text); // methods from the context are available in the extended context
            } 
        },
        
        /**
         * initialize the app
         */ 
        init : function(){
            // build context
            <b>this.context = slimple.contextFactory.build(
                config, 
                this.context
            );</b>
        },
        
        /**
         * run the app
         */ 
        run : function(){
            this.init();
            <b>slimple.server.httpd.start(this.context);</b>
        }
        
    };

    <b>app.run();</b>
            </pre>

            <h3>Services</h3>
            The services are the core part of this framework.<br>
            Services have to be put in the defined serviceLocation. Default is /service.<br/>
            They will be loaded on startup and are available afterwards under the defined resource.<br/>
            You can call this service with a simple AJAX call.<br/>
            Just implement the desired request type:<br/>
            GET, POST, PUT, DELETE etc.<br/>
            It is important that you always send something back to the client with http.reply or by throwing an error.<br>
            <br/>
            The service must be implemented in following format:         
            <pre class="prettyprint">
            
    module.exports = {
        
        resource: '/echo(/:what)',
        
        GET: function(ctx, data, http){

            if(data.what === 'error'){
                throw { status: 500, message : new Error("well that sucks").stack };
            }
            
            http.reply(data);
        },
    
        POST: function(ctx, data, http){
            http.reply(data);
        }
        
        // et cetera
        
    };
             
            </pre>
            <h3>Services routes</h3>
            It is now possible to define url pattern in your services.<br>
            Slimple uses <a href="https://github.com/haggen/wayjs" target="_blank">WayJS</a> for matching the patterns. Have a look at the documentation on github for prober use.<br/>
            <br/>
            <pre class="prettyprint">
    
    resource: '/echo/:id/*'
    // id will be available under data.id
    // * will be available under data.splat, which is an array (multiple * possible)
            </pre>
            
            <h3>Session Handling</h3>
            Each client which requests stuff on slimple gets his own session which is available on in the http.session object within the service callback.<br/>
            <pre class="prettyprint">
            
    GET: function(ctx, data, http){

        <b>
        // get the session id
        http.session.uid();
        // set an attribute on the current session
        http.session.set("test", {});
        //get an attribute of the current session
        http.session.get("test");
        </b>
        
        http.reply(data);
    }

            </pre>            
            <h3>Events</h3>
            It's possible to define your custom server events which can be called from the services.<br/>
            Define the event:<br/>
            <br/>
            <pre class="prettyprint">
            
    module.exports = {
      name: 'echoEvent',
      invoke: function(ctx, data){
          ctx.log.trace(data);
      }
    };
            </pre>
            Call the event anywhere in your application (e.g. from a service):<br/>
            <pre class="prettyprint">
            
    ctx.event.emit("echoEvent", "echo event emit: "+data.text);
            </pre>
            <h3>Mongoose Schemas</h3>
            To use Mongoose, you have to add the dependency to your package.json file:<br/>
            "mongoose": "3.5.8" (or whatever version you like, Slimple is tested with 3.5.8)<br/>
            Furthermore, set appConfig.db.active to true (config/db.js)<br/>
            You can define and use mongoose schemas in your application.<br/>
            The schemas have to be put into de defined schemaLocation. Default ist /schemas.<br/>            
            <pre class="prettyprint">
            
    module.exports = {
        name: 'SampleSchema',
        schema: {
            author  : { type: String, required: true},
            title   : { type: String, required: true},
            body    : { type: String, required: true},
            date    : { type: Date, default: Date.now }
        }
    };
            </pre>
            To perform db operations on your schema, you can just access the model from the context.<br/>
            Usage (in a service), just like you're using mongoose (because it's mongoose):<br/>
            
            <pre class="prettyprint">
            
    var model = ctx.db.model('SampleShema');
    model.find().execFind(function(error, list) {
        http.returnJson(list);
    });
            </pre>
        </div>
    </div>
    
    </div>
</div>
