<script>
    (function(){
        $.ajax({
    	url : '/serverInfo',
		type : 'get',
		success : function(data) {
            var tplData = $.parseJSON(data);
            new EJS({
                url : 'pages/server/info.ejs?dt=' + new Date().getTime()
            }).update('serverInfo', tplData);
                return false;
            }
		});
    })();
</script>

<div id="serverInfo" class="hero-unit"></div>