<table class="table">
    <tr>
        <td>
            <b>Server Status</b>                
        </td>
        <td>
            Running
        </td>
    </tr> 
    <tr>
        <td>
            <b>Hostname</b>                
        </td>
        <td>
            <%= hostname %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Platform</b>                
        </td>
        <td>
            <%= platform %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Uptime</b>                
        </td>
        <td>
            <%= Math.round(uptime / 60 / 60) %> <span>h</span>
        </td>
    </tr>   
    <tr>
        <td>
            <b>Total Memory</b>                
        </td>
        <td>
            <%= Math.round(totalmem / 1048576) %> <span>MB</span>
        </td>
    </tr>
    <tr>
        <td>
            <b>Free Memory</b>                
        </td>
        <td>
            <%= Math.round(freemem /1048576) %> <span>MB</span>
        </td>
    </tr>   
    <tr>
        <td colspan="2">
            <div class="progress">
  <div class="bar bar-success" style="width: <%= Math.round(freemem / (totalmem / 100)) %>%;">Free</div>
  <div class="bar bar-warning" style="width: <%= Math.round((totalmem - freemem) / (totalmem / 100) ) %>%;">Used</div>

</div>
        </td>
    </tr>
<!--    <tr>
        <td>
            <b>Services</b>                
        </td>
        <td>
            10
        </td>
    </tr>
    <tr>
        <td>
            <b>Events</b>                
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            <b>Schemas</b>                
        </td>
        <td>
            3
        </td>
    </tr>
-->
</table>