<div class="btn-group">
    <a href="#" class="btn"><i class="icon-pencil"></i> <strong>Write</strong></a>
    <a href="#" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
    <a href="#" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
    <a href="#" class="btn"><i class="icon-align-justify"></i> <strong>List</strong></a>
</div>
<hr>
<div>
    <h1>Alice in Wonderland, part dos</h1>
    <p>'You ought to be ashamed of yourself for asking such a simple question,'
        added the Gryphon; and then they both sat silent and looked at poor Alice,
        who felt ready to sink into the earth. At last the Gryphon said to the
        Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he
        went on in these words: 'Yes, we went to school in the sea, though you
        mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,'
        said the Mock Turtle.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
    <hr>
    <h1>Revolution has begun!</h1>
    <p>'I am bound to Tahiti for more men.' 'Very good. Let me board you a moment—I
        come in peace.' With that he leaped from the canoe, swam to the boat; and
        climbing the gunwale, stood face to face with the captain. 'Cross your
        arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt
        leaves me, I swear to beach this boat on yonder island, and remain there
        six days. If I do not, may lightning strike me!'A pretty scholar,' laughed
        the Lakeman. 'Adios, Senor!' and leaping into the sea, he swam back to
        his comrades.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
<div>
    <h1>Alice in Wonderland, part dos</h1>
    <p>'You ought to be ashamed of yourself for asking such a simple question,'
        added the Gryphon; and then they both sat silent and looked at poor Alice,
        who felt ready to sink into the earth. At last the Gryphon said to the
        Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he
        went on in these words: 'Yes, we went to school in the sea, though you
        mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,'
        said the Mock Turtle.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
    <hr>
    <h1>Revolution has begun!</h1>
    <p>'I am bound to Tahiti for more men.' 'Very good. Let me board you a moment—I
        come in peace.' With that he leaped from the canoe, swam to the boat; and
        climbing the gunwale, stood face to face with the captain. 'Cross your
        arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt
        leaves me, I swear to beach this boat on yonder island, and remain there
        six days. If I do not, may lightning strike me!'A pretty scholar,' laughed
        the Lakeman. 'Adios, Senor!' and leaping into the sea, he swam back to
        his comrades.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
<div>
    <h1>Alice in Wonderland, part dos</h1>
    <p>'You ought to be ashamed of yourself for asking such a simple question,'
        added the Gryphon; and then they both sat silent and looked at poor Alice,
        who felt ready to sink into the earth. At last the Gryphon said to the
        Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he
        went on in these words: 'Yes, we went to school in the sea, though you
        mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,'
        said the Mock Turtle.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
    <hr>
    <h1>Revolution has begun!</h1>
    <p>'I am bound to Tahiti for more men.' 'Very good. Let me board you a moment—I
        come in peace.' With that he leaped from the canoe, swam to the boat; and
        climbing the gunwale, stood face to face with the captain. 'Cross your
        arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt
        leaves me, I swear to beach this boat on yonder island, and remain there
        six days. If I do not, may lightning strike me!'A pretty scholar,' laughed
        the Lakeman. 'Adios, Senor!' and leaping into the sea, he swam back to
        his comrades.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
<div>
    <h1>Alice in Wonderland, part dos</h1>
    <p>'You ought to be ashamed of yourself for asking such a simple question,'
        added the Gryphon; and then they both sat silent and looked at poor Alice,
        who felt ready to sink into the earth. At last the Gryphon said to the
        Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he
        went on in these words: 'Yes, we went to school in the sea, though you
        mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,'
        said the Mock Turtle.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
    <hr>
    <h1>Revolution has begun!</h1>
    <p>'I am bound to Tahiti for more men.' 'Very good. Let me board you a moment—I
        come in peace.' With that he leaped from the canoe, swam to the boat; and
        climbing the gunwale, stood face to face with the captain. 'Cross your
        arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt
        leaves me, I swear to beach this boat on yonder island, and remain there
        six days. If I do not, may lightning strike me!'A pretty scholar,' laughed
        the Lakeman. 'Adios, Senor!' and leaping into the sea, he swam back to
        his comrades.</p>
    <div>
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>&nbsp;|
        <i class="icon-user"></i>
        <a href="#">Admin</a>&nbsp;|
        <i class="icon-calendar"></i>Sept 16th, 2012 at 4:20 pm&nbsp;|
        <i class="icon-comment"></i>
        <a href="#">3 Comments</a>&nbsp;|
        <i class="icon-share"></i>
        <a href="#">39 Shares</a>
    </div>
    <hr>
</div>