<table class="table table-striped ">

    <!-- table headers -->
    <tr>
        <% for(var header in schema) { %>
          <th><%= header %></th>
        <% } %>
        <th></th>
    </tr>
    
    <!-- table row and data -->
    <%  for(var i = 0; i < data.length; i++) { %>
        <tr>
            <% for(var k in schema){ %> 
                <td><%=  data[i][k] ? data[i][k].toString().substring(0,16) : '' %></td>
            <% } %>
                <td colspan="2" style="text-align: center !important;">
                    <button type="button" data-id="<%= data[i]._id %>"  data-schema="<%= schemaName %>" class="btn btn-default editEntryButton" ><span class="glyphicon glyphicon-pencil" data-id="<%= data[i]._id %>"></span></button>
                    <button type="button" data-id="<%= data[i]._id %>"  data-schema="<%= schemaName %>" class="btn btn-default deleteEntryButton"><span class="glyphicon glyphicon-remove" data-id="<%= data[i]._id %>"></span></button>
                </td>
        </tr>                
    <% } %>
</table>
