  <!-- Modal -->
  <div class="modal fade" id="detailDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><h3>Add / Edit</h3></h4>
        </div>
        <div class="modal-body">
            <form id="<%= name %>" role="form" >
                <table width="100%">
                    <% for(var attribute in schema) { %>
                        <tr>
                            <td width="100px">
                                <label for="<%= attribute %>InputField"><%= attribute %></label>
                            </td>
                            <td>
                                <input style="width:100%" type="text" id="<%= attribute %>InputField"  class="form-control" name="<%= attribute %>" value="<%= data[attribute] ? data[attribute] : schema[attribute].default %>"></input>
                            </td>
                        </tr>
                    <% } %>
                </table>
                <input type="hidden" id="_idFieldId" name="_id" value="<%= data['_id'] %>" ></input>
            </form>
        </div>
        <div class="modal-footer">
            <a id="saveButton" class="btn btn-default"><i class="icon-ok"></i>Save</a>
            <a id="resetButton" class="btn btn-default" data-dismiss="modal"><i class="icon-remove"></i>Cancel</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->