<form class="form-inline" role="form">
    <div class="form-group" >
        <label class="sr-only" for="searchType">Schema</label>
        <select id="searchType" class="form-control">
            <% for(var attribute in schema) { %>
              <option><%= attribute %></option>
            <% } %>
        </select>
    </div>
    <div class="form-group" style="width:80%" >
        <div class="input-group">
        <input id="searchField" class="form-control" type="text" placeholder="search...">
          <span class="input-group-addon glyphicon glyphicon-search"></span>  
        </div>
    </div>
</div>