<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<services.length; i++) {%>
        <tr>
          <td><%= services[i] %></td>
        </tr>
    <% } %>
  </tbody>
</table>
<script>alert(services);</script>