<script>

	(function() {
        $.ajax({
			url : '/services',
			type : 'get',
			success : function(data) {
                var tplData = $.parseJSON(data);
                new EJS({
                    url : 'pages/services/serviceList.ejs?dt=' + new Date().getTime()
                }).update('services', tplData);
                    return false;
                }
		});

	})();
    
</script>
<div id="services" class="well"></div>