<script>
(function(){
    loadPosts(function(){});
})();

function loadPosts(callback){
    $.get('/blog/readAll', function(data) {
        new EJS({url: 'pages/blog/posts.ejs?dt='+new Date()}).update('posts', $.parseJSON(data));
        callback();
    });
}

function newPost(){
    new EJS({url: 'pages/blog/postForm.ejs?dt='+new Date()}).update('postForm', {post : {title : '', body : ''}});
    $('#postForm').show();
}

function submitPost(){
    eventHandler.ajaxSubmit($('#postFormX'), function(){
         loadPosts(function(){
            $('#postForm').hide();
        });
    });
}

</script>

<h1>DB Demo: Blog</h1>
<br/>
<input type="button" value="New post" onclick="newPost()"/>
<div id="postForm"></div><br/>
<div id="posts"></div>
