<% for(var i=0; i<posts.length; i++) {%>
    <div style="width:80%;border:solid 1px black; padding:10px">
        <b><%= posts[i].date %> - <%= posts[i].title %></b>
        <br/>
        <div><%= posts[i].body %></div>
    </div>
    <br/>
<% } %>