<div class="sidebar-nav affix span2">
    <div class="well" style="padding: 8px 0;">
    	<ul class="nav nav-list"> 
		  <li class="nav-header"><%= title %></li>        
          <% for(var i = 0; i < items.length; i++) { %>
    	    <li class="appMenuLi"><a href="<%= items[i].href %>" class="appMenuItem"><i class="<%= items[i].icon %>"></i> <%= items[i].name %></a></li>
          <% } %>
		</ul>
	</div>
</div>