body {
	width: 1100px;
	background-color: #269;
	margin: auto;
	font-family: sans-serif;
	margin-bottom: 20px;
}

#banner {
	position: absolute;
	top: -40px;
	left: -20px;
	font-size: 20px;
	background-color: #59C;
	padding: 20px;
}

#slender {
	font-family: monospace;
	font-size: 20pt;
}

#wrap {
	position: relative;
	width: 1024px;
	background-color: #fff;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	min-height: 220px;
}

#nav {
	padding-top: 20px;
	float: left;
}

#nav>ul {
	list-style: none;
	padding-right: 15px;
	padding-top: 25px;
}

#nav>ul>li {
	margin-top: 5px;
}

#loginButton {
	margin-right: 10px;
	margin-top: 8px;
	float: right;
}

#content {
	margin-left: 160px;
	margin-right: 10px;
	/*text-align: center;*/
	padding: 20px;
}

#content>h1 {
	padding-top: 25px;
	font-size: 22pt;
}

#textResult {
	font-style: italic;
}

#loremdiv {
	text-align: justify;
}

#folder>div,#folder>ul {
	text-align: left;
}

#folder>ul {
	list-style: none;
	padding-left: 0px;
}

folder {
	width: 500px;
	text-align: left;
}

a,a:BEFORE {
	text-decoration: none;
	color: #59C;
}

a:HOVER {
	color: #158;
	text-decoration: underline;
}

a:VISITED {
	color: #269;
}

.rounded {
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}