<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner ">
    <div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand navItem" href="<%= brand.href %>">&nbsp;&nbsp;&nbsp;<%= brand.name %></a>
	  <div class="nav-collapse collapse">
		<ul class="nav">
        
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Server <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="pages/testPage.html" class="navItem">Content</a></li>
                    <li><a href="pages/testPage2.html" class="navItem">Services</a></li>
                    <li><a href="pages/testPage.html" class="navItem">Schemas</a></li>
                </ul>
              </li>
            <li><a href="pages/blog.html" class="navItem">Blog</a></li>
        </ul>
	    <form class="navbar-form pull-right">
          <input id="user" class="span2" type="text" name="user" placeholder="User">
          <input id="password" class="span2" type="password" name="password" placeholder="Password">
          <button  class="btn" onclick="return false;">Sign in</button>
        </form>
	  </div><!--/.nav-collapse -->
	</div>
  </div>
</div>