<h1>File Upload (not yet implemented)</h1>
<form action="/" method="post" onsubmit="return upload();">
  <fieldset>
    <legend>Upload photo</legend>
    <input type="file" name="photo" id="photo">
    <input type="submit" value="Upload!">
  </fieldset>
</form>