<h1>Folders</h1>
<script>
	var currentDir = '';
	var breadcrumbs = [];

	(function() {
		openFolder('/test', false);
	})();

	function openFolder(dir, crumb) {

		var openDir = dir;

		if (!crumb) {
			openDir = currentDir + "/" + dir;
			currentDir = openDir;
			breadcrumbs.push({
				name : dir,
				path : currentDir
			});
		} else {
			currentDir = dir;
			for ( var i = 0; i < breadcrumbs.length; i++) {
				if (breadcrumbs[i].path == openDir) {
					breadcrumbs.splice(i + 1, breadcrumbs.length - 1);
				}
			}
		}

		listDirectory(openDir, function(data) {
			var tplData = $.parseJSON(data);
			tplData.breadcrumbs = breadcrumbs;
			if (tplData.isFile) {
				window.open(openDir);
			}
			new EJS({
				url : 'pages/templates/folder.ejs?dt=' + new Date()
			}).update('folder', tplData);

			return false;

		});

	}

	function listDirectory(dir, callback) {

		$.ajax({
			url : '/listFolder',
			type : 'get',
			data : {
				path : dir
			},
			success : function(data) {
				if (typeof callback === 'function') {
					callback(data);
				}
				return false;
			}
		});

	}
</script>

<div id="folder"></div>