<h1>Form Demo</h1>
<script>
	$('#textFormAjax').on('jsonRecieved', function(event, data) {
		//$('#textArea').val("ajax response: "+data)
		html = new EJS({
			url : 'pages/templates/text.ejs'
		}).render(data);
		$('#result').html(html);
	});
</script>
<span>Enter a text and press the 'Submit' button.<br />The Text will be sent to the server and returned.
</span>
<br />
<form id="textFormAjax" action="/echo" method="post">
	<textarea id="textArea" name="text" rows="10" cols="60"></textarea>
	<br> <input id="asdw" type="submit" class="ajax" value="Submit" />
</form>
<br />
<div id="result"></div>
